
<!DOCTYPE html>

<html>
<body>
    <!-- 
    <form action="GetArrivalAutoComplete" method="post">
        <input type="text" name="telefon" placeholder="Hotel Search...">
        <button type="submit" value="Gönder">Ara</button>
    </form>
    -->

    <form method="post" action="GetArrivalAutoComplete">
        <table>
            <tr>
                <td><input placeholder="Hotel Search..." type="text" id="query_id" name="query" /><button type="submit" value="Gönder">Ara</button></td>
            </tr>
        </table>
    </form>

</body>
</html>